

.loading, .spinner-border {
	display: grid;
	justify-content: center;
	margin: 25px auto;
	text-decoration: 
}

h1 {
	text-align: center;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-weight: 500;
	text-decoration: underline;
	color: #00308F;
	margin: 30px;
}

h4 {
	text-align: center;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-weight: 200;
	color: #00308F;
}

.search-box {
	margin: 25px auto;
	width: 50%;
    padding: 10px;
    font-family: "Comic Sans MS", cursive, sans-serif;


}

.polaroid {
	width: 300px;
	background-color: white;
 	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 	margin: 25px auto;
}

img {
	display: block;
	margin: auto;
	height: auto;
}

.container-1 {
	display: grid;
	justify-content: center;
	grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
	grid-auto-flow: row;
}

.container-2 {
	display: grid;
	justify-content: center;
	grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
	grid-auto-flow: row;
}

.container-3 {
	text-align: center;
  	padding: 10px 20px;
}